body {
	background-image: -webkit-linear-gradient(264deg,rgba(167,219,228,1.00) 23.83%,rgba(17,88,255,0.87) 100%);
	background-image: -moz-linear-gradient(264deg,rgba(167,219,228,1.00) 23.83%,rgba(17,88,255,0.87) 100%);
	background-image: -o-linear-gradient(264deg,rgba(167,219,228,1.00) 23.83%,rgba(17,88,255,0.87) 100%);
	background-image: linear-gradient(186deg,rgba(167,219,228,1.00) 23.83%,rgba(17,88,255,0.87) 100%);
}
#wrapper {
	padding: 10px;
	width: 960px;
	background-color: hsla(0,0%,92%,1.00);
	margin: 0px auto;
}
#header {
	height: 100px;
	padding-top: 10px;
	padding-right: 10px;
	padding-left: 10px;
	padding-bottom: 10px;
	border-top: solid 1px;
	border-top-color: rgba(48,48,48,1.00);
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	border-bottom: solid 1px;
	float: none;
	background-color: rgba(22,61,61,0.50)
}
#wrapper #header img {
	
}

#main {
	width: 670px;
	padding: 20px;
	float: left;
	
}

#aside {
	padding: 10px;
	width: 229px;
	background-color: rgba(79,235,223,0.30);
	float: left;
	border-left: solid 1px;
	border-left-color: #464646;
	box-shadow: 10px 50px 30px 0px #FF8C00;
	position: relative;
	
}
#footer {
	clear: both;
	height: 50px;
	padding-top: 30px;
	padding-right: 30px;
	padding-left: 30px;
	padding-bottom: 30px;
	background-color: rgba(136,136,136,1.00);
	text-align: center;
	color: rgba(255,255,255,1.00);
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
	font-size: 22px;
}

nav{
	width: 960px;
	height: 35px;
	background-color: rgba(136,136,136,1.00);
	
}
ul{
	list-style-type: none;
	margin-top: 7px;
	margin-right: 7px;
	margin-left: 7px;
	margin-bottom: 7px;
	padding: 0px;
	over-flow: visible;
	display: hidden;	
}
	
li{
	float:left;
	
	padding:0 0px;
	list-style:none;
	
	
}
li a{

	color: white;
	font-size: 16px;
	border-right-style: solid;
	position: relative;
	display: inline-block;
	padding: 7px;
	

}

li a:hover{
	background-color: rgba(231,130,0,1.00);

	
}
	
li a:visited{
	color:fb7c00;
	text-decoration:none;
	}
		
	
	a:link{
		color:fb7c07;
		text-decoration:none;
		}


h3 {
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.asideSlika {
	padding: 7px;
	background-color: rgba(236,236,236,1.00);
	margin-top: 5px;
	margin-right: auto;
	align: center;
	margin-left: 10px;
}
.asideTeks {
	margin-top: 20px;
	margin-left: 20px;
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
}
.inputtxt {
	margin-left: 20px;
}
#submit {
	margin-top: 30px;
	margin-right: 0px;
	margin-left: 20px;
	background-color: rgba(88,83,83,1.00);
	color: rgba(255,248,248,1.00);

}
.table-tours{
	width: 680px;
	margin-left: auto;
	margin-right: auto;
	border-collapse: collapse;
}

.table-tours td,
.table-tours th{
	border: 1px solid #ccc;
	padding: 5px 8px;
}
.table-tours-header{
	background: #eee;
	font-size:22px;
}
.table-tours-subh{
	background: #c2dce2;
	font-size:14px;
	font-style: italic;
}
.odd{
	
	background-color:#BDBDBD;
}
.txt-left{
	text-align: left;
}
.txt-center{
	text-align: center;
}
.txt-bold{
	font-weight: bold;
}
 .txt-blue{
	color: #0410E9;
	text-align: center;	 
}
.table-tours tr:hover td{
	background:  rgba(231,130,0,1.00);
}
#contact label.lbl{
	/*float: left;
	display: block;
	width: 240px;
	border-bottom: 1px dashed #ccc;*/
	background:rgba(131,126,126,1.00);
display: block;
	padding: 10px;
}
#contact .txt-i{
	border: solid 1 px #ccc;
	padding: 0;
	margin: 0;
	font-size: 14px;
	line-height: 15px;
	background: #fff;
	width: 337px;
	
}
#contact input.txt-i{
	height: 20px;
}
#contact textarea.txt-i{
	height: 120px;
	
}
#contact input.btn{
	padding: 4px 12px;
	margin: 4px 0;
	background: #c00;
	border: 1px solid #540101;
	border-radius: 8px;
	color: #fff;
	cursor: pointer;
	
}
#contact input.btn:hover {
	background: #F30;
}
.contact-left{
	width: 340px;
	margin:0 10px 0 0;
	float:left;
	
	
}
.contact-full{
	clear: both;
}